<div class="row">
    <div class="col-12">
        <img [src]="recipe.imagePath" alt="" class="img-fluid">
    </div>
    <div class="col-12 text-capitalize">
        <h1>
            {{ recipe.name }}
        </h1>
    </div>
    <div class="col-12">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown" appDropdown>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Manage Recipe
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="onAddToShoppingList()">Add to shopping list</a></li>
                <li><a class="dropdown-item" (click)="onEditRecipe()">Edit recipe</a></li>
                <li><a class="dropdown-item"(click)="onDelete()" >Delete recipe</a></li>
              </ul>
            </div>
          </div>
    </div>
    <div class="col-12">
        {{ recipe.description }}
    </div>
    <div class="col-12">
        <h4>
            Ingredient
        </h4>
        <ul class="list-group">
           <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.name }} - {{ ingredient.amount }}
           </li>
        </ul>
    </div>
</div>