<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Form start -->
            <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="col-12">
                        <button 
                            [disabled]="!recipeForm.valid"
                            class="btn btn-success mx-3" type="submit">Save</button>
                        <button class="btn btn-danger" type="button">Cancel</button>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12">

                        <div class="form-group">

                            <label for="name">Name</label>
                            <input 
                                
                                formControlName="name"
                                type="text" 
                                id="name"
                                class="form-control">

                        </div>

                    </div>
                    <div class="col-12">

                        <div class="form-group">

                            <label for="imagePath">Image Path</label>
                            <input 

                                formControlName="imagePath"
                                type="text" 
                                id="imagePath"
                                class="form-control">

                        </div>

                    </div>

                    <div class="col-12 mt-1">
                        <h6>Image Preview</h6>
                        <img [src]="recipeForm.get('imagePath').value" class="img-fluid">
                    </div>

                    <div class="col-12">

                        <div class="form-group">

                            <label for="description">Description</label>
                            <textarea 

                                formControlName="description"
                                type="text" 
                                id="description"
                                class="form-control" 
                                rows="6"></textarea>

                        </div>

                    </div>

                </div>

                <!-- new ingredients inputs and btns -->
                <div class="row mt-4" formArrayName="ingredients">
                    
                    <div class="row mt-2" 
                        *ngFor="let ingredientControl of ingredientsControls; let i = index"
                        [formGroupName]="i">
                        <div class="col-8">
                            <input formControlName="name" type="text" class="form-control" >
                        </div>
    
                        <div class="col-2">
                            <input formControlName="amount" type="number" class="form-control">
                        </div>
    
                        <div class="col-2">
                            <button class="btn btn-danger" type="button" >X</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-success" type="button" (click)="onAddingredient()">Add ingredient</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>