<div class="container">
    <div class="row">
        <div class="col-10 border-top">
            <app-shopping-edit (emitIngredient)="getEmittedIngredient($event)" ></app-shopping-edit>
        </div>
        <ul class="list-group list-group-flush col-3">
            <li class="list-group-item fs-4">
                Ingredients:
            </li>
            <li class="list-group-item position-relative" *ngFor="let ingr of ingredients">
                <span>
                    {{ ingr.name }} 
                </span>
                <span class="badge rounded-pill text-bg-primary position-absolute end-0">
                    {{ ingr.amount }}
                </span>
            </li>
        </ul>
    </div>
</div>