<div class="container">
    <div class="row">
        <div class="col-md-5">
            <app-recipe-list></app-recipe-list>
        </div>
        <div class="col-md-7">
            <router-outlet></router-outlet>
            <!-- <app-recipe-detail 
                *ngIf="recipiesSelected; else noRecipeSelected" 
                [selectedRecipie]="recipiesSelected"
            ></app-recipe-detail>
            <ng-template #noRecipeSelected>
                <div class="col-12 text-center my-5">
                    <p>Please select a Recipe!</p>
                </div>
            </ng-template> -->
        </div>
    </div>
</div>