.card{
    cursor: pointer;
    transition: all 200ms linear;
    text-transform: capitalize;
    
    &:hover{
        transform: scale(1.015);
    }

}
.active{
    background-color: rgba($color: #000000, $alpha: .1);
}